:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  tr,
  th {
    display: table-row;
  }
 th,td
 {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  .example-container {
    width: 100%;
    height: calc(100vh - 32px);
    overflow: auto;
  }
  .mat-table {
    overflow-x: scroll;
   
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
  .mat-row {
    min-width: max-content;
  }
  .mat-row:hover {
    background-color: #e2e2e2; //required color
  }
  .mat-header-row{
    width: fit-content !important;
}
.mat-row{
    width: fit-content !important;
}