:host{
    background: #4285f4;
    color:#fff;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100  
  }
  .login-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  
  form {
    width: 100%;
  }
  
  .login-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }
  .mat-raised-button {
    width: 100%;
    margin-top: 0px;
  }
  .form-gap {
    padding-top: 70px;
}
.mat-form-field{
  font-family: "Roboto";
  font-size: 16px;
  width: 100%;
  display: block;
  line-height: 1.5;
 }

 ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 0px;
  margin-top: 10px;
}