<div class="container pt-5 pb-5">
    <div class="col-12">
        <!-- input decorator -->
        <div>
            <input type="checkbox" [(ngModel)]="isChecked" >
            <p>Agree that you love pandas?</p>
        </div>
        <!-- <app-contact [checked]="isChecked"></app-contact> -->
          <!-- viewchild decorator -->
        <div>
            <p>{{dataFromChild}}</p>
        </div>
           <!-- output decorator -->
           <p *ngIf="!id">Select a box:</p>
            <p *ngIf="id">You selected box no. {{ id }}</p>
            <!-- <app-contact (selectedItem)="onselection($event)"></app-contact> -->

    </div>
</div>