#footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-container {
  height: 24px;
  margin-top: -36px;
}
.footer-content {
  margin: 0 auto;
  text-align: center;
}